.ProductInfoWithPrice {
  &__list-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__image {
    width: 60px;
    height: 60px;
  }

  &__description {
    flex: 2;
    margin: 0;
  }

  &__pricing {
    letter-spacing: 0.269px;
    text-align: end;
  }

  &__price {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
  }

  &__price-old {
    color: #9b9b9b;
    margin-bottom: 8px;
    &__value {
      text-decoration: line-through;
      display: inline-block;
      margin: 0;
    }
  }
}
