.Error {
  height: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 4rem;
    box-sizing: border-box;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 60%;
    &__image {
      width: 10rem;
    }
    &__text {
      font-size: 1.2rem;
    }
  }
}
